<div class="links-show-pet">
  <div class="return-link">
    <%= link_to '< Back to search results', pets_path %>
  </div>

  <div>
    <% if policy(@pet).edit? %>
    <%= link_to "Edit", edit_pet_path(@pet), class: "btn btn-success" %>
    <% end %>
    <% if policy(@pet).destroy? %>
    <%= link_to 'Delete', pet_path(@pet),
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "btn btn-danger" %>
    <% end %>
  </div>
</div>

<div class="card-show-pet-header">
  <div class="card-show-pet">
    <div class="pet-card-image">
      <%= cl_image_tag @pet.photos.first.key,
         height: 270,
          width: 270,
          crop: :fill,
         class: "show-pet-image" %>
    </div>
    <div class="pet-card-info">
      <h1><%= @pet.name %> </h1>
      <h3><%= @pet.age %> years old</h3>
      <p><%= @pet.gender %> - <%= @pet.species %></p>
      <p><%= @pet.description %></p>
      <%= button_to "Adopt me!", pet_adoptions_path(@pet), method: :create, data: { confirm: "You are requesting the adoption of #{@pet.name}" }, class: "btn-adoption" %>
    </div>
  </div>
  <div class="card-show-pet-information">
    <div class="pet-history">
      <h3>History</h3>
      <p><%= @pet.history %></p>
    </div>
    <div class="pet-health">
     <h3>Health Stats</h3>
     <p><%= @pet.gender == 'male' ? 'He is ' : 'She is ' %><%= @pet.vaccinated ? 'fully vaccinated' : 'not vaccinated yet' %> and <%= @pet.castrated ? '' : 'not' %> castrated</p>
    </div>
  </div>
</div><br>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <% @pet.photos.each_with_index do |photo, index| %>
      <% if index == 0 %>
        <div class="carousel-item active">
      <% else %>
        <div class="carousel-item">
      <% end %>
        <div class="d-block w-100">
         <%= cl_image_tag photo.key, height: 500, width: 1000, crop: :fill %>
        </div>
      </div>
    <% end %>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
