<div class="links-show-pet">
  <%= link_to '< Return to search results', pets_path %>
  <%= link_to 'Edit', edit_pet_path(@pet), class: "btn btn-success"  %>
  <%= link_to 'Delete', pet_path(@pet),
    method: :delete,
    data: { confirm: "Are you sure?" },
    class: "btn btn-danger" %>
  </div>
</div>

<div class="card-show-pet">
  <%# <%= cl_image_tag @article.photo.key, height: 300, width: 300, crop: :fill %> %>
  <div class="card-show-pet-details">
    <h2><strong><%= @pet.name %> </h2>
    <h3><%= @pet.age %> years old</h3>
    <p><%= @pet.gender %> - <%= @pet.species %></p>
    <p><%= @pet.description %></p>
    <button type="button" class="btn btn-primary">Message</button>
  </div>

  <div class="card-show-pet-history">
    <h3>History</h3>
    <p><%= @pet.history %></p>
  </div>

  <div class="card-show-pet-health">
    <h3>Health Stats</h3>
    <p><%= @pet.gender == 'male' ? 'He is ' : 'She is ' %><%= @pet.vaccinated ? 'fully vaccinated' : 'not vaccinated yet' %> and <%= @pet.castrated ? '' : 'not' %> castrated</p>
  </div>
</div>

<% @pet.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
