<div class="return-link">
  <%= link_to '< Back to search results', pets_path %>
</div>

<div class="container-show-user">
  <div class="card-show-user">
    <div class="user-photo">
      <% if current_user.profile_photo.valid? %>
        <%= cl_image_tag current_user.profile_photo.key, height: 300, width: 300, radius: 150, crop: :fill %>
     <% else %>
        <%= image_tag "avatar.png", height: 300, width: 300, radius: 150, crop: :fill %>
     <% end %>
    </div>
    <div class="user-details">
      <h1>Profile</h1>
     <p><%= @user.profile %></p>
      <h1><%= @user.first_name %> <%= @user.last_name %> </h1>
      <h5><%= @user.email %></h5>
     <p><%= @user.zip_code %></p>
     <%= link_to "Edit", edit_user_registration_path %>
    </div>
  </div>
</div>

<div class="card-show-user-pets">
  <%=render "my_pets_for_adoption"%>
</div>

<div class= "card-show-user-adoptions">
  <% if @adoptions.blank? %>
    You have no adoption requests.
  <% else %>
    <%=render "my_adoptions" %>
  <% end %>
</div>
